.track-container {
  width: 100%;
  padding: 20px 30px 30px 30px;
  background: var(--background-color);
  border-radius: 10px;
}

.track-container .tracks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}