.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .9em;
}

.track .track-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: var(--txt-dark);
}

.track .track-left img {
  width: 50px;
  border-radius: 10px;
}

.track .track-left .info {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
}

.track .info .title {
  font-weight: 500;
}

.track .info .artist {
  color: var(--txt-med);
  font-size: .9em;
}

.track .track-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.track audio {
  width: 270px;
}

.track audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 0.529);
}