.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  padding: 0% 5%;
  min-height: 100vh;
}

.dashboard .dashboard-right {
  padding-left: 500px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard .playlist-tab {
  width: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  display: none;
}

.dashboard .favorites-tab, .followers-tab, .recently-added-tab {
  width: 100%;
  padding: 10px 10px;
  display: none;
}

.dashboard .carousel {
  width: 100%;
  background: url('img/lily.jpeg');
  background-size: cover;
  background-position: 5rem;
  height: 35vh;
}

/* navlinks section */
.dashboard .nav {
  margin: 10px 0px;
  padding: 10px 0px 0px 0px;
}

.dashboard .links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.dashboard .links button {
  border: none;
  background: var(--background-color);
  color: var(--txt-grey);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 12px 13px;
  margin-top: 10px;
  margin-right: 50px;
  transition: 200ms ease-in-out;
  border-bottom: 3px solid transparent;
  border-radius: 6px;
}

.dashboard .links button:hover {
  filter: brightness(.9);
}

.dashboard .Dropdown-control, .Dropdown-menu {
  width: 500px;
}

.dashboard .show {
  display: contents;
}

.dashboard .links .tab-show {
  border-radius: 0px;
  border-bottom: 3px solid var(--elements-pink);
  color: var(--elements-pink);
}

.dashboard .links .tab-show:hover {
  border-bottom: 3px solid var(--elements-pink);
  color: var(--elements-pink);
  filter: brightness(1);
}

.dashboard .nav hr {
  height: .5px;
  background-color: grey;
  margin-bottom: 20px;
  border: none;
}

.spotify {
  height: 100vh;
  width: 100vw;
  background-image: url('img/eucalyptus.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify .spotify-link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 139, 78);
  box-shadow: 0px 0px 13px 0px rgba(1, 1, 14, 0.239);
  transition: 200ms ease-in-out;
  width: 400px;
  font-size: 1.5rem;
}

.spotify .spotify-link:hover {
  background-color: rgb(49, 92, 49);
  transform: translateY(-3px);
}
