.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  padding: 0% 5%;
  min-height: 100vh;
}

.dashboard .dashboard-right {
  padding-left: 500px;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard .playlist-tab {
  width: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  display: none;
}

.dashboard .favorites-tab, .followers-tab {
  width: 100%;
  padding: 10px 10px;
  display: none;
}

/* navlinks section */
.dashboard .nav {
  margin: 10px 0px;
  padding: 10px 0px 0px 0px;
}

.dashboard .links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.dashboard .links button {
  border: none;
  background: transparent;
  color: var(--txt-grey);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-right: 50px;
  transition: 200ms ease-in-out;
  border-bottom: 3px solid transparent;
}

.dashboard .Dropdown-control, .Dropdown-menu {
  width: 500px;
}

.dashboard .show {
  display: contents;
}

.dashboard .links .tab-show {
  border-bottom: 3px solid var(--elements-pink);
}

.dashboard .nav hr {
  height: .5px;
  background-color: grey;
  margin-bottom: 20px;
  border: none;
}

.spotify {
  height: 100vh;
  width: 100vw;
  background-image: url('img/eucalyptus.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify .spotify-link {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 139, 78);
  box-shadow: 0px 0px 13px 0px rgba(1, 1, 14, 0.239);
  transition: 200ms ease-in-out;
  width: 400px;
  font-size: 1.5rem;
}

.spotify .spotify-link:hover {
  background-color: rgb(49, 92, 49);
  transform: translateY(-3px);
}

.dashboard .dashboard-background {
  width: 100%;
}

.dashboard .background-header {
  width: 100%;
}

.dashboard .background-header img{
  width: 100%;
  object-fit: cover;
  height: 35vh;
}

.dashboard .edit-background .upload-image {
  border: 1px solid white;
  background: var(--elements-pink);
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 27vh;
  margin-left: 85%;
  position: absolute;
}

.dashboard .edit-background .upload-image input{
  visibility: hidden;
}

.dashboard .edit-background .edit {
  color: white;
  margin-top: 7.5px;
  margin-left: 9.5px;
}

.dashboard .edit-background .disable {
  visibility: hidden;
}
