.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: space-around;
}

.signup input {
  padding: 20px;
  border-radius: 3px;
  font-size: .8rem;
  border: 1px solid black;
}

.signup .signup-btn {
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: rgb(108, 177, 108);
  cursor: pointer;
}

.signup h1 {
  font-weight: 600;
  font-size: 40px;
}