.signup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('img/lavendar1.jpeg');
  background-size: cover;
}

.signup .content {
  width: 550px;
  border-radius: 13px;
  box-shadow: 0px 0px 13px 0px rgba(1, 1, 14, 0.7);
  background: white;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup p {
  color: rgb(86, 83, 83);
  margin-left: 10px;
  margin-bottom: 5px;
}

.signup input {
  padding: 10px 20px;
  width: 400px;
  border-radius: 20px;
  font-size: 1.1rem;
  border: 1px solid rgb(181, 178, 178);
  margin-bottom: 20px;
}

.signup .signup-btn {
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  width: 400px;
  background-color: rgb(107, 127, 176);
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  margin-bottom: 20px;
}

.signup .disable {
  background-color: rgba(134, 151, 191, 0.613);
  cursor: not-allowed;
}

.signup .signup-btn:hover {
  filter: brightness(1.1);
}

.signup .disable:hover {
  filter: brightness(1);
}

.signup h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.signup-loading {
  margin-left: auto;
  margin-top: 50%
}
