.user-track-container {
  width: 100%;
  height: 600px;
  overflow-y: auto;
}

.user-track-container .tracks {
  display: flex;
  flex-direction: column;
}

.user-track-container .loading {
  margin-top: 100px;
}
