.playlist-view .playlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.playlist-view .playlist-header .add-playlist-btn {
  border: none;
  background-color: transparent;
  color: green;
  cursor: pointer;
  margin-left: 20px;
  transition: 200ms ease-in-out;
}

.playlist-view .playlist-header .add-playlist-btn:hover {
  color: rgb(26, 109, 26);
}

.playlist-view .playlist-header .playlist-searchbar {
  border: 1px solid var(--light-border);
  padding: 12px;
  border-radius: 6px;
  width: 40%;
}

.playlist-view .playlist-header .playlist-action {
  display: flex;
  flex-direction: row;
}

.playlist-container {
  padding: 20px;
  box-shadow: 0 0 13px 0px rgba(206, 206, 209, 0.7);
  background: white;
  max-height: 500px;
  overflow: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 15px;
}

.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 15px;
}

.playlist-view .playlist-container .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.loading {
  align-self: center;
}

.playlist-view h3 {
  font-weight: 600;
}
