.playlist-detail {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  min-height: 100vh;
}

.playlist-detail .header {
  position: absolute;
  display: flex;
  margin: 115px 14.5%;
}

.playlist-detail .header img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 13px 0px rgba(1, 1, 14, 0.7);
}

.playlist-detail .header .playlist-header-info {
  margin-left: 50px;
  margin-top: 30px;
}

.playlist-detail .buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.playlist-detail .recommend-btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  background: var(--elements-pink);
  letter-spacing: 1px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms ease-in-out;
  margin-bottom: 10px;
}

.playlist-detail .recommend-btn:hover {
  box-shadow: 0px 0px 13px 0px rgba(155, 155, 161, 0.7);
  transform: translateY(-3px);
  background: var(--elements-darkpink);
}

.playlist-detail .resync {
  padding: 10px 20px;
  font-size: 1rem;
  background: rgb(78, 139, 78);
  letter-spacing: 1px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.playlist-detail .resync:hover {
  background: rgb(47, 84, 47);
}

.playlist-detail .disabled:hover {
  background-color: rgba(78, 139, 78, 0.649);
}

.playlist-detail .disabled {
  background: rgba(78, 139, 78, 0.649);
}

.playlist-detail .playlist-detail-content {
  padding: 270px 50px 0px 82px;
  width: 80%;
  margin: auto;
  margin-top: 220px;
  background: white;
  display: flex;
  border-radius: 10px;
  height: 100vh;
}

.playlist-detail .left .details {
  box-shadow: 0px 0px 7px 0px rgba(186, 186, 187, 0.7);
  background: var(--background-color);
  width: 290px;
  padding: 15px 20px 5px 20px;
  border-radius: 7px;
}

.playlist-detail .right {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-detail .loading {
  margin-top: auto;
}

/* text styling */
.playlist-detail .left .details p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 16px;
}

.playlist-detail .left .details span{
  font-weight: 600;
  font-size: 15px;
  color: black;
}

.playlist-detail p {
  color: rgb(100, 99, 99);
  font-size: 1.2rem;
  letter-spacing: .3px;
}

.playlist-detail .header h2 {
  font-weight: 500;
  font-size: 3.3rem;
}