/* profile card of dashboard */
.profile-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--txt-grey);
  box-shadow: 0 0 13px 0px rgba(206, 206, 209, 0.7);
  border-radius: 10px;
  position: absolute;
  padding: 30px;
  width: 400px;
  height: fit-content;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 50px;
}

.profile-card .profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-self: center;
}

.profile-card .user-info {
  margin: 10px 10px;
  margin-bottom: 40px;
}

.profile-card .user-info .header {
  display: flex;
  justify-content: space-between;
}

.profile-card .user-info .header .settings {
  margin-top: 6px;
  cursor: pointer;
}

.profile-card .user-info .location {
  display: flex;
  flex-direction: row;
}

.profile-card .spotify-info {
  margin: 40px 0px;
  padding: 10px;
  border-radius: 6px;
  background: var(--background-color);
}

.profile-card .spotify-info .spotify-info-content {
  padding-left: 15px;
  padding-top: 10px;
}

.profile-card .spotify-info .spotify-user {
  display: flex;
  flex-direction: row;
}

.profile-card .spotify-info .spotify-user .spotify-name {
  margin-left: 6px;
}

.profile-card .spotify-profile-btn {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 139, 78);
  transition: 200ms ease-in-out;
}

.profile-card .spotify-profile-btn:hover {
  background-color: rgb(49, 92, 49);
  transform: translateY(-3px);
}

.profile-card .picture {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-card .upload-image {
  border: 1px solid white;
  background: var(--elements-pink);
  cursor: pointer;
  position: absolute;
  align-self: flex-end;
  margin-top: 56%;
  margin-right: 40px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.profile-card .upload-image input{
  visibility: hidden;
}

.profile-card .edit {
  color: white;
  margin-top: 7.5px;
  margin-left: 9.5px;
}

.profile-card h2 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: .5px;
}

.profile-card h2 {
  font-weight: 600;
}

.profile-card p {
  font-size: 1.1rem;
}
