.user-profile-card {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-card #overlay {
  background-color: rgb(0, 0, 0, .5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transition: .5ms;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
}

.profile-content .user-right {
  align-self: flex-end;
  margin-right: 30px;
  padding-bottom: 5px;
}

.profile-content .follower {
  margin-left: 8px;
}

.profile-content .location {
  display: flex;
  flex-direction: row;
}

.user-profile-card .profile-popup {
  width: 870px;
  height: 600px;
  background: white;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  z-index: 10;
}

.user-profile-card .playlists {
  display: flex;
  max-height: 370px;
  margin-top: 10px;
  padding: 10px;
  flex-direction: row;
  width: 100%;
  overflow-y: auto;
  flex-wrap: wrap;
  gap: 20px;
}

.user-profile-card .follow, .unfollow {
  padding: 10px 20px;
  font-size: 1rem;
  width: 200px;
  background: rgb(78, 139, 78);
  letter-spacing: 1px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.unfollow {
  background: rgb(210, 63, 63);
}

.user-profile-card h1 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 50px;
}

.user-profile-card p {
  color: var(--txt-grey);
  font-size: 1.1rem;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.user-profile-card hr {
  margin-top: 10px;
  border: none;
  height: 1px;
  background: var(--light-border);
}