.recommend-view {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.recommend-view .get-location-btn {
  position: absolute;
  margin-top: 102px;
  z-index: 10;
  margin-left: 84%;
  padding: 10px;
  color: white;
  background: var(--elements-pink);
  border: none;
  border-radius: 6px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.135);
  transition: 200ms ease-in-out;
  font-size: 1rem;
  cursor: pointer;
}

.recommend-view .get-location-btn:hover {
  background: var(--elements-darkpink);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.341);
}

.recommend-view .inactive {
  background: rgb(230, 199, 211);
  box-shadow: none;
}

.recommend-view .inactive:hover {
  background: rgb(230, 199, 211);
  box-shadow: none;
}

.recommend-view .map-filter {
  position: absolute;
  margin-top: 100px;
  margin-left: 53%;
  z-index: 10;
}

.recommend-view .map-filter-input {
  padding: 10px 44px;
  width: 400px;
  font-size: 1.1rem;
  border-radius: 6px;
  border: .5px solid var(--txt-med);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.083);
}

.map-filter-input:focus {
  outline: none;
  border: 1px solid var(--elements-darkpink);
}

.recommend-view .users {
  margin-top: 80px;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.recommend-view .users .header{
  margin: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.recommend-view .users input {
  border: 1px solid var(--light-border);
  padding: 8px 35px;
  border-radius: 6px;
  font-size: 1rem;
  width: 60%;
}

.recommend-view .users input:focus {
  outline: none;
  border: 1px solid var(--txt-med);
}

.search-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 10px;
  color: rgba(78, 77, 77, 0.694);
}

.clear-search {
  position: absolute;
  margin-left: 90%;
  margin-top: 11px;
  cursor: pointer;
  color: rgba(78, 77, 77, 0.694);
}

.map-filter .focus {
  color: var(--elements-pink);
}

.filter-similarity {
  cursor: pointer;
  align-self: center;
  background: var(--elements-pink);
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-similarity .filter {
  margin-left: 5px;
  font-size: 23px;
}

.recommend-view .map-container {
  width: 100%;
  height: 100%;
}

.recommend-view .no-users {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1.2rem;
}

.recommend-loading {
  margin-top: 23%;
  margin-left: 50%;
}
