.recommend-view {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.recommend-view .users {
  margin-top: 80px;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.recommend-view .users .header{
  margin: 10px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommend-view .users input {
  border: 1px solid var(--light-border);
  padding: 13px 20px;
  border-radius: 6px;
  font-size: 1rem;
  width: 50%;
}

.filter-similarity {
  cursor: pointer;
  align-self: center;
  background: var(--elements-pink);
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-similarity .filter {
  margin-left: 5px;
  font-size: 23px;
}

.recommend-view .map-container {
  width: 100%;
  height: 100%;
}

.recommend-view .no-users {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 1.2rem;
}
