.user-track {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  align-items: center;
  color: var(--txt-med);
  background: white;
  cursor: pointer;
  border-bottom: .5px solid var(--light-border);
  min-height: 80px;
}

.user-track:hover {
  filter: brightness(.9);
}

.user-track .song {
  display: flex;
  flex: 3;
}

.user-track .song img {
  margin-right: 10px;
  max-width: 45px;
  max-height: 45px;
}

.user-track .song .song-info {
  display: flex;
  flex-direction: column;
}

.user-track .title {
  color: var(--txt-dark);
}

.user-track .artist {
  font-size: .9em;
}

.user-track .similarity {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 60px;
  flex: 1.5;
}

.user-track .num {
  flex: .2;
}

.user-track .preview {
  flex: 2;
}

.user-track .icon {
  cursor: pointer;
  flex: .2;
}

.user-track .track-disable {
  cursor: pointer;
  flex: .2;
  color: rgba(84, 121, 141, 0.513);
}

/* text styling */
.preview .no-preview {
  font-size: 1rem;
  color: var(--txt-med);
  text-align: center;
}
