.followers-view h3{
  font-weight: 600;
  font-size: 1.2em;
}

.followers-view .follower-searchbar {
  border: 1px solid var(--light-border);
  padding: 12px 20px;
  border-radius: 6px;
  width: 40%;
}

.followers-view .follower-searchbar:focus {
  outline: none;
  border: 1px solid var(--elements-pink);
}

.followers-view .playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 15px;
}
