.nav-bar {
  padding: 0px 35px 0px 35px;
  position: fixed;
  width: 100%;
  font-size: 1em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  overflow: none;
  border-bottom: .5px solid var(--txt-med);
}

.nav-bar .logo {
  width: 70px;
}

.nav-bar .avatar {
  margin-top: 11px;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
