.nav-bar {
  padding: 5px 35px 0px 35px;
  position: fixed;
  width: 100%;
  font-size: 1em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  overflow: none;
  border-bottom: .5px solid var(--light-border);
}

.nav-bar .logo {
  width: 80px;
}

.nav-bar .avatar {
  margin-top: 15px;
  cursor: pointer;
}